.intro {
  max-width: 984px;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  padding-left: 148px;
}

.intro__title {
  font-weight: 900;
  font-size: 3.375rem;
  line-height: 1.07;
  max-width: 830px;
  margin: 0;
  padding: 0;
  padding-top: 92px;
}

.intro__quote {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 0;
  padding: 0;
  padding-top: 40px;
  max-width: 738px;
}

.intro__quote-cite {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  max-width: 738px;
  text-align: right;
}

.intro__text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.63;
  margin: 0;
  padding: 0;
  padding-top: 32px;
  max-width: 725px;
}

@media (min-width: 769px) and (max-width: 1150px) {
<<<<<<< HEAD
=======
  .intro {
    padding-left: 88px;
  }
}

@media screen and (max-width: 768px) {
>>>>>>> origin/main
  .intro {
    padding-left: 88px;
  }
<<<<<<< HEAD
=======
  .intro__title {
    font-size: 2.812rem;
  }
}

@media (max-width: 320px) {
  .intro {
    padding-left: 16px;
  }
  .intro__title {
    font-size: 2rem;
  }

>>>>>>> origin/main
  .intro__quote-cite {
    padding-right: 32px;
  }

  .intro__text {
    padding-right: 32px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    padding-left: 24px;
  }
  .intro__title {
    font-size: 2.812rem;
  }
  .intro__quote-cite {
    padding-right: 16px;
  }

  .intro__text {
    padding-right: 32px;
  }
}

@media (max-width: 320px) {
  .intro {
    padding-left: 16px;
  }
  .intro__title {
    font-size: 2rem;
  }

  .intro__quote-cite {
    padding-right: 16px;
  }

  .intro__text {
    padding-right: 32px;
  }
}
